
<div class="container">
    <div >
        <form class="form-inline text-center" role="form">
            <div class="form-group has-success has-feedback ">
                <label class="control-label" for="inputSuccess4">请填写正确的收货地址：</label>
                <input type="text" class="form-control" id="inputSuccess4">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div>&nbsp; </div>
            <div>&nbsp; </div>
            <div>&nbsp; </div>
            <div>&nbsp; </div>
            <div>&nbsp; </div>


        </form>
        <h3 >您本次购买的商品有:<h3>
    </div>
    <div>&nbsp; </div>
    <div>&nbsp; </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>




    <div id="over">
        </div>
    <div>&nbsp; </div>
    <div>&nbsp; </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">总计：<span id="buttom"></span></div>

    </div>

</div>
